<div class="search-results-container" ng-if="SearchCtrl.result.totalResults !== 0">
    <div class="search-results-items">
        <div class="search-result-item clearfix" ng-repeat="item in SearchCtrl.result.items track by item.id">
            <div class="search-result-image" adaptive-image="" src-target="background-image" desktop="{{item.thumbnail}}"></div>
            <div class="search-result-content">
                <h3><a class="link-full" ng-href="{{::item.url}}">{{::item.title}}</a></h3>
                <p><span ng-bind-html="::item.content"></span> <a class="search-result-more fa-angle-right nowrap" ng-href="{{::item.url}}">{{'search.more' | translate}}</a></p>
            </div>
        </div>
    </div>
</div>