<form name="search" novalidate="novalidate" ng-submit="$ctrl.submitSearch()">
    <input
            type="text"
            class="form-control"
            name="q"
            required="required"
            placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.q"
            uib-typeahead="suggestion as suggestion.name for suggestion in $ctrl.getSuggestions($viewValue)"
            typeahead-loading="$ctrl.loading"
            typeahead-on-select="$ctrl.submitSearch($element)"
            autocomplete="off"/>
    <button type="submit" class="btn-icon fa fa-level-down"></button>
    <button type="reset" class="btn-icon fa fa-close" ng-class="{visible: $ctrl.q.length !== 0}" ng-click="$ctrl.reset()"></button>
</form>