<div class="simple-datepicker">
	<form name="simpleDatepicker" data-ng-submit="submit()">
		<span class="text-brand h6">{{'solr.facet.dateRange.from' | translate}}</span>
		<div class="row">
			<div class="col-md-7">
				<div class="form-group">
					<select name="startMonth" class="form-control" data-ng-model="date.start.month" data-ng-options="month.label for month in months" required="">
						<option value="">{{'solr.facet.dateRange.month' | translate}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<select name="startYear" class="form-control" data-ng-model="date.start.year" data-ng-options="year.label for year in years" required="">
						<option value="">{{'solr.facet.dateRange.year' | translate}}</option>
					</select>
				</div>
			</div>
		</div>
		<span class="text-brand h6">{{'solr.facet.dateRange.to' | translate}}</span>
		<div class="row">
			<div class="col-md-7">
				<div class="form-group">
					<select name="endMonth" class="form-control" data-ng-model="date.end.month" data-ng-options="month.label for month in months" required="">
						<option value="">{{'solr.facet.dateRange.month' | translate}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<select name="endYear" class="form-control" data-ng-model="date.end.year" data-ng-options="year.label for year in years" required="">
						<option value="">{{'solr.facet.dateRange.year' | translate}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<a class="pull-right" data-ng-click="reset()" data-ng-if="selected" style="line-height: 31px">{{'solr.facet.removeSelection' | translate}}</a>
			<button class="button-default" type="submit">{{'solr.facet.search' | translate}}</button>
		</div>
	</form>
</div>