<div class="row" data-ng-class="{'tx-solr-loading': loading}">
	<div id="tx-solr-search-functions" class="col-md-3 tx-solr-search-functions">

		<div class="facets-show" ng-class="{'facets-show-active': showFacetFilters}">
			<a class="icon-plus" ng-click="showFacetFilters = true">
				{{'solr.facet.showFilter' | translate}}
			</a>
			<a class="icon-minus" ng-click="showFacetFilters = false">
				{{'solr.facet.showFilter' | translate}}
			</a>
		</div>

		<ul class="facets list-unstyled clearfix" ng-class="{'facets-open': showFacetFilters, 'facets-date-selected': isDateSelected()}">
			<li class="facet facet-used" data-ng-if="facets.usedFacets">
				<a data-ng-click="select(facets.usedFacets.removeAll.url)">
					{{'solr.facet.showAll' | translate}}
				</a>
			</li>
			<li class="facet facet-filter" data-ng-repeat="facet in facets.availableFacets" data-ng-class="'facet-' + (facet.options.selected ? 'seleced' : 'unselected') + ' facet-' + facet.type | lowercase" data-ng-if="typeFacet() !== facet">
				<div data-ng-include="'templates/solrajax/facet/' + facet.type + '.html'"></div>
			</li>
		</ul>
	</div>

	<div id="tx-solr-search" class="col-md-9 tx-solr-search">

		<div data-ng-form="keyword">
			<form class="form-group" name="keywordForm" data-ng-submit="submitSearch()">
				<div class="input-group">
					<input type="text" id="keyword" class="form-control" name="keyword" required="required" data-ng-model="q" placeholder="{{'solr.facet.keywordPlaceholder' | translate}}" data-typeahead-loading="suggestLoading" data-typeahead="suggestion as suggestion.name for suggestion in autoSuggestion($viewValue)" data-typeahead-on-select="submitSearch($element)" />
					<a class="input-group-addon icon-search" data-ng-click="submitSearch()"></a>
				</div>
			</form>
		</div>

		<section class="search-empty-results" data-ng-if="search.empty">
			<div class="well well-sm">
				{{'solr.emptySearch' | translate}}
			</div>
		</section>

		<section class="search-no-results" data-ng-if="!results.count && !search.empty">
			<div class="well well-sm">
				<span>{{'solr.noResults' | translate}}</span>
				<div class="suggestion" data-ng-if="results.suggestion">
					{{'solr.suggestion' | translate}} <a data-ng-click="select(results.suggestionUrl)">{{results.suggestion}}</a>
				</div>
			</div>
		</section>

		<section data-ng-if="results.count">

			<div class="more" data-ng-if="results.prevLink" data-ng-hide="loading">
				<a class="btn btn-default" data-ng-click="loadPrev()">{{'solr.results.showPrevious' | translate}}</a>
			</div>

			<div class="more" data-ng-if="results.prevLink" data-ng-show="loading">
				<a class="btn btn-default"><span class="animate-spin icon-spin"></span> {{'solr.results.loading' | translate}}</a>
			</div>

				<div class="row results-list">
				<div data-ng-repeat="document in results.resultDocuments" data-ng-class="document.gridColumnClass">
					<div data-nx-bind-result="document.content"></div>
				</div>
			</div>

			<div class="more" data-ng-if="results.nextLink" data-ng-hide="loading">
				<a class="btn btn-default" data-ng-click="loadNext()">{{'solr.results.showMore' | translate}} ({{results.count - results.resultDocuments.length}})</a>
			</div>

			<div class="more" data-ng-if="results.nextLink" data-ng-show="loading">
				<a class="btn btn-default"><span class="animate-spin icon-spin"></span> {{'solr.results.loading' | translate}}</a>
			</div>

		</section>
	</div>
</div>