<script type="text/ng-template" id="solr/facet/default.html">
	<h4 class="facet-label csc-header">{{facet.label}}</h4>
	<ul class="facet-option-list default">
		<li data-ng-if="facet.active">
			<a href="" data-ng-click="select(facet.resetUrl)" class="facet-option-reset-link">{{'solr.facet.removeSelection' | translate}}</a>
		</li>
		<li class="facet-option" data-ng-repeat="option in facet.options">
			<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
				<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
			</a>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="solr/facet/queryGroup.html">
	<h4 class="facet-label csc-header">{{facet.label}}</h4>
	<ul class="facet-option-list queryGroup">
		<li data-ng-if="facet.active">
			<a href="" data-ng-click="select(facet.resetUrl)" class="facet-option-reset-link">{{'solr.facet.removeSelection' | translate}}</a>
		</li>
		<li class="facet-option" data-ng-repeat="option in facet.options">
			<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
				<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
			</a>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="solr/facet/hierarchy.html">
	<h4 class="facet-label csc-header">{{facet.label}}</h4>
	<ul class="facet-option-list hierarchy">
		<li data-ng-if="facet.active">
			<a href="" data-ng-click="select(facet.resetUrl)" class="facet-option-reset-link">{{'solr.facet.removeSelection' | translate}}</a>
		</li>
		<li class="facet-option" data-ng-repeat="option in facet.options">
			<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
				<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
			</a>
			<ul class="facet-option-list" data-ng-if="option.options && option.active">
				<li class="facet-option" data-ng-repeat="option in option.options">
					<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
						<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
					</a>
					<ul class="facet-option-list" data-ng-if="option.options && option.active">
						<li class="facet-option" data-ng-repeat="option in option.options">
							<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
								<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="solr/facet/dateRange.html">
	<h4 class="facet-label csc-header" data-ng-if="facet.options.selected">{{facet.label}}</h4>
	<div class="row">
		<div class="col-xs-6 col-sm-12 col-md-6">
			<div class="form-group">
				<input data-ng-show="facet.options.start" type="text" id="daterange-start-selected" class="form-control form-control-remove" readonly="readonly" data-ng-value="facet.options.start | date:facet.options.format" data-ng-click="removeStartDate(facet.options)" />
				<input data-ng-hide="facet.options.start" placeholder="{{'solr.facet.dateRange.from' | translate}}" type="text" id="daterange-start" class="form-control" name="daterange-start" data-ng-model="facet.options.start" data-datepicker-popup="{{facet.options.format}}" data-min-date="facet.options.min" data-max-date="facet.options.max" data-ng-change="selectDate(facet.options)" />
			</div>
		</div>
		<div class="col-xs-6 col-sm-12 col-md-6">
			<div class="form-group">
				<input data-ng-show="facet.options.end" type="text" id="daterange-end-selected" class="form-control form-control-remove" readonly="readonly" data-ng-value="facet.options.end | date:facet.options.format" data-ng-click="removeEndDate(facet.options)" />
				<input data-ng-hide="facet.options.end" placeholder="{{'solr.facet.dateRange.to' | translate}}" type="text" id="daterange-end" class="form-control" name="daterange-start" data-ng-model="facet.options.end" data-datepicker-popup="{{facet.options.format}}" data-min-date="facet.options.min" data-max-date="facet.options.max" data-ng-change="selectDate(facet.options)" />
			</div>
		</div>
	</div>
</script>

<div class="row" data-ng-class="{'tx-solr-loading': loading}">
	<div id="tx-solr-search-functions" class="col-md-3 tx-solr-search-functions">

		<div class="facets-show" ng-class="{'facets-show-active': showFacetFilters}">
			<a href="" class="icon-plus" ng-click="showFacetFilters = true">
				{{'solr.facet.showFilter' | translate}}
			</a>
			<a href="" class="icon-minus" ng-click="showFacetFilters = false">
				{{'solr.facet.showFilter' | translate}}
			</a>
		</div>

		<ul class="facets list-unstyled clearfix" ng-class="{'facets-open': showFacetFilters, 'facets-date-selected': isDateSelected()}">
			<li class="facet facet-used" data-ng-if="facets.usedFacets">
				<a href="" data-ng-click="select(facets.usedFacets.removeAll.url)">
					{{'solr.facet.news.showAll' | translate}}
				</a>
			</li>
			<li class="facet facet-keyword">
				<h4 class="facet-label csc-header">{{'solr.facet.keyword' | translate}}</h4>
				<div data-ng-form="keyword">
					<div class="form-group">
						<input data-ng-show="search.q" type="text" class="form-control form-control-remove" data-ng-model="search.q" readonly="readonly" data-ng-click="removeSearch()" />
						<input data-ng-hide="search.q" type="text" id="keyword" class="form-control" name="keyword" required="required" data-ng-model="q" data-typeahead="suggestion as suggestion.name for suggestion in autoSuggestion($viewValue)" data-typeahead-on-select="submitSearch()" />
					</div>
					<div class="form-group" data-ng-hide="search.q">
						<button type="submit" class="button-default" data-ng-disabled="keyword.$invalid" data-ng-click="submitSearch()">{{'solr.facet.search' | translate}}</button>
					</div>
				</div>
				<hr />
			</li>
			<li class="facet facet-filter" data-ng-repeat="facet in facets.availableFacets" data-ng-class="'facet-' + (facet.options.selected ? 'seleced' : 'unselected') + ' facet-' + facet.type | lowercase">
				<div data-ng-include="'solr/facet/' + facet.type + '.html'"></div>
			</li>
		</ul>
	</div>

	<div id="tx-solr-search" class="col-md-6 col-sm-8 tx-solr-search">

		<section class="search-results">

			<div class="more text-center" data-ng-if="results.prevLink" data-ng-hide="loading">
				<a class="button-default" href="" data-ng-click="loadPrev()">Show previous releases</a>
			</div>

			<div class="more text-center" data-ng-if="results.prevLink" data-ng-show="loading">
				<a class="button-default"><span class="animate-spin icon-spin"></span> {{'solr.results.loading' | translate}}</a>
			</div>

			<ul class="list-unstyled results-list">
				<li class="single-result" data-ng-repeat="document in results.resultDocuments">
					<div data-ng-bind-html="document.content"></div>
				</li>
			</ul>

			<div class="more text-center" data-ng-if="results.nextLink" data-ng-hide="loading">
				<a class="button-default" href="" data-ng-click="loadNext()">{{'solr.results.news.showMore' | translate}}</a>
			</div>

			<div class="more text-center" data-ng-if="results.nextLink" data-ng-show="loading">
				<a class="button-default"><span class="animate-spin icon-spin"></span> {{'solr.results.loading' | translate}}</a>
			</div>

			<div class="result-more-count text-center" data-ng-if="results.nextLink">
				<span>{{results.count - results.resultDocuments.length}} {{'solr.results.more' | translate}}</span>
			</div>

		</section>
	</div>
	<div class="col-md-3 col-sm-4">
		<div class="well well-sm">
			<p>{{'solr.teaser.news.text' | translate}}</p>
			<p><a href="" target="_blank" class="button-default">{{'solr.teaser.news.button' | translate}}</a></p>
		</div>
	</div>
</div>