<h4 class="facet-label csc-header" data-ng-if="facet.options.selected">{{facet.label}}</h4>
<div class="row">
	<div class="col-xs-6 col-sm-12 col-md-6">
		<div class="form-group">
			<input data-ng-show="facet.options.start" type="text" id="daterange-start-selected" class="form-control form-control-remove" readonly="readonly" data-ng-value="facet.options.start | date:facet.options.format" data-ng-click="removeStartDate(facet.options)" />
			<input data-ng-hide="facet.options.start" placeholder="{{'solr.facet.dateRange.from' | translate}}" type="text" id="daterange-start" class="form-control" name="daterange-start" data-ng-model="facet.options.start" data-datepicker-popup="{{facet.options.format}}" data-min-date="facet.options.min" data-max-date="facet.options.max" data-ng-change="selectDate(facet.options)" />
		</div>
	</div>
	<div class="col-xs-6 col-sm-12 col-md-6">
		<div class="form-group">
			<input data-ng-show="facet.options.end" type="text" id="daterange-end-selected" class="form-control form-control-remove" readonly="readonly" data-ng-value="facet.options.end | date:facet.options.format" data-ng-click="removeEndDate(facet.options)" />
			<input data-ng-hide="facet.options.end" placeholder="{{'solr.facet.dateRange.to' | translate}}" type="text" id="daterange-end" class="form-control" name="daterange-start" data-ng-model="facet.options.end" data-datepicker-popup="{{facet.options.format}}" data-min-date="facet.options.min" data-max-date="facet.options.max" data-ng-change="selectDate(facet.options)" />
		</div>
	</div>
</div>