<h4 class="facet-label csc-header">{{facet.label}}</h4>
<ul class="facet-option-list queryGroup">
	<li data-ng-if="facet.active">
		<a href="" data-ng-click="select(facet.resetUrl)" class="facet-option-reset-link">{{'solr.facet.removeSelection' | translate}}</a>
	</li>
	<li class="facet-option" data-ng-repeat="option in facet.options">
		<a href="" data-ng-click="select(option.url)" data-ng-class="{active: option.active, selected: option.selected}">
			<span data-ng-bind-html="option.text"></span>&nbsp;<span class="facet-result-count">({{option.count}})</span>
		</a>
	</li>
</ul>